/* All the General Information Pages are copy & paste so there won't be many comments! */
a{
	Font-family: Lucida Console;
	color: #f54747;
}

body
{
	background-image: url("images/WatercolourGI.jpg")
}

.header
{
	font-family: Lucida Console;
	text-align: center;
	color: #F54747;
	word-spacing: 20px;
	font-size: 40px;
	padding: 50px;
	margin: 30px;
	border-top: 20px solid #F54747;
	border-bottom: 20px solid #F54747;
}

img
{
	height:700px;
}

h3
{
	font-size: 30px;
	color: #ffffff;
}

.row2
{
	margin: 20px;
}

.row3
{
	font-size: 30px;
	margin: 30px;
}

h2
{
	color: #F54747;
	border-bottom: 3px dashed #f54747;
}

caption
{
	font-size: 50px;
	color: #f54747;
	text-decoration: underline solid #f54747;
	margin: 10px;
}

/* The tables were quite monotonous to do, but I did like how it turned out */
table, th, td {
  border: 5px solid #f54747;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}

.content
{
	text-align: center;
	font-family: Lucida Console;
	color: black;
	font-size: 30px;
	padding: 30px;
	margin: 30px;
	border: 8px solid #f54747;
}

.column-one
{
	float: left;
	width: 50%;
	padding: 10px;
	height: 700px;
}

.colomn-two
{
	float: right;
	width: 50%;
	padding: 10px;
	height: 700px;
}

.row:after 
{
	content: "";
	display: table;
	clear: both;
}

.navbar 
{
	font-family: Lucida Console;
	margin-left: 125px;
	margin-right: 125px;
}

.navbar a 
{
	font-size: 20px;
	color: #f54747;
	padding: 16px;
	text-decoration: none;
}

.navbar a:hover 
{
  background-color: #f54747;
  color: #FFFFFF;
}

.dropdown 
{
}

.dropbtn 
{
	color: #F54747;
	padding: 16px;
	font-size: 20px;
	border: none;
}

.dropdown 
{
	display: inline-block;
}

.dropdown-content 
{
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a 
{
	color: #F54747;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown-content a:hover 
{
	background-color: #F54747;
	color: #ffffff;
}

.dropdown:hover .dropdown-content 
{
	display: block;
}

.dropdown:hover .dropbtn 
{
	background-color: #F54747;
	color: #FFFFFF;
}

.footer 
{
	Border-top: 10px solid #f54747;
	font-family: Lucida Console;
	padding: 20px;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
	font-size: 23px;
	column-count: 2
}

.navbar2 
{ 
	word-spacing: 10px;
	padding: 10px;
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
}